body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-image: url('https://media.istockphoto.com/id/922783734/photo/assorted-indian-recipes-food-various.jpg?b=1&s=612x612&w=0&k=20&c=E3vvDbtewANz5LzhBrQn0raezKaATj6aeOPWlxYn4ZE=');*/
}
header {
    display: flex;
    align-items: center;
    background-color: #7a1972;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

header .social-links a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
header .social-links a:hover {
    text-decoration: underline;
}
.menubar ul {
    background-color: #f8f7f7;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom:4px solid #7a1972;
}

.menubar ul li {
    margin: 0 15px;
}

.menubar ul li a {
    color: #7a1972;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menubar ul li a:hover {
    background-color: #e2a9dd;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
}

.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.box img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #726565;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.sidebar h3 {
color: #7a1972;
font-weight: bold;
}

.sidebar li {
    font-size: larger;
    color: #995b94;
}
